$pink: #DAB6BA;
$rose: #F2E6E7;
$red: #6E2F2E;
$header: 'Abril Fatface', cursive;
$maintext: 'Quicksand', sans-serif;

* {
    margin: 0;
    padding: 0;
}
 body {
    background-image: url(/pics/cherry.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: $pink;
    min-height: 100vh;
 }

header, footer {
    background-color: $pink;
    color:$red;
}
.header {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
}
.navbar {
    width: fit-content;
    a{
        font-family: $maintext;
        font-style:$red;
    } a:hover{
        font-weight: bold;
    } a:focus {
        font-weight: bold;
    }
}

.container {
    margin: 1%;
    margin-top: 20vh;
    width: 100%;
}

#about {
    left: 0;
    margin-top: 10vh;
    width: fit-content;
    font-size: 200px;
    font-family: $header;
    color: $red;
}
#accordion {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
}
.accordion-button{
    background-color: $rose;
}
footer {
    position:fixed;
    width: 100%;
    bottom: 0;
}
.txt {
    text-align: center;
    bottom: 0;
    p {
        font-family: $maintext;
        font-style:$red;    
    }
}

@media only screen and (max-width: 600px) {
    #about{
        display: none;
    }
    #accordion{
        margin-right: 10%;
        margin-top: 80px;
    }
}