$pink: #DAB6BA;
$rose: #F2E6E7;
$red: #6E2F2E;
$white: #FFFF;
$header: 'Abril Fatface', cursive;
$maintext: 'Quicksand', sans-serif;
* {
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: $pink;
    color: $red;
  }
  
  .header {
    position: fixed;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    top: 0;
  }
  
  .navbar {
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar a {
    font-family: $maintext;
    font-style: $red;
  }
  .navbar a:hover {
    font-weight: bold;
  }
  .navbar a:focus {
    font-weight: bold;
  }
  
  .container {
    background-color: $rose;
    width: 60%;
    // height: 800px;
    padding: 1%;
    margin-top: 19vh;
    margin-bottom: 20vh;
  }

  #notes {
    width: 100%;
    max-height: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: fit-content;
  }
  li {
    background-color: $white;
    border: solid 1px $red;
    padding: 1%;
    margin: 2px;
  }
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .txt {
    text-align: center;
  }
  .txt p {
    font-family: $maintext;
    font-style: $red;
  }