$pink: #DAB6BA;
$rose: #F2E6E7;
$red: #6E2F2E;
$maintext: 'Quicksand', sans-serif;
$header:'Abril Fatface', cursive;
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(/pics/coffee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: $pink;
    min-height: 100vh;
}

header, footer {
    background-color: $pink;
    color:$red;
}
.header {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
}
.navbar {
    width: fit-content;
    a{
        font-family: $maintext;
        font-style:$red;
    } a:hover{
        font-weight: bold;
    } a:focus {
        font-weight: bold;
    }
}

.container {
    position: absolute;
    top: 30vh;
    left: 1%;
    margin: 0 auto;
    max-width: 200px;
    height: 30px;
    font-family: $header;
    font-size: 200px;
    color: $red;
}

footer {
    position:absolute;
    width: 100%;
    bottom: 0;
}
.txt {
    text-align: center;
    p {
        font-family: $maintext;
        font-style:$red;   
        padding: 0.5rem; 
    }
}

@media only screen and (max-width: 600px) {
    .container{
        font-size: 100px;
    }
}