* {
    margin: 0;
}
header, footer {
    background-color: #DAB6BA;
    min-height: 15vh;
    /* border: #6E2F2E solid;  */
    color:#6E2F2E;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
}
img {
    width: 10vh;
}
.navbar {
    position: relative;
    justify-content: flex-end;
    padding: 0;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.col-md-12 {
    margin-top: 15vh;
    margin-bottom: 15vh;
    padding: 2% 20% 2% 20%;
}

footer {
    position: fixed;
    /* padding: 10px 10px 0px 10px; */
    width: 100%;
    bottom: 0;
}
